packages/**
paymentrails/bin/**
paymentrails/obj/**
paymentrailsTest/obj/**
paymentrailsTest/bin/**
TestResults
.vs/**
.vscode/**
tests/bin/**
tests/bin/
tests/obj/**
tests/obj/
tests/.vs/**
.DS_Store
