packages/**
trolley/bin/**
trolley/obj/**
trolleyTest/obj/**
trolleyTest/bin/**
TestResults
.vs/**
.vscode/**
tests/bin/**
tests/bin/
tests/obj/*
tests/obj/
tests/.vs/**
tests/.env
.DS_Store
tests/obj/project.assets.json
tests/obj/project.nuget.cache
tests/obj/tests.csproj.nuget.dgspec.json
